  <img src="<%= @student.profile_image %>" width="300">




  <!-- show attributes for a single student here -->

   <h1><%= @student.name %></h1>
   <dl class="dl-horizontal">
      <dt>Quote</dt>
      <dd><%= @student.quote %></dd>
      <dt>Bio</dt>
      <dd><%= @student.bio %></dd>
      <dt>Education</dt>
      <dd><%= @student.education %></dd>
      <dt>Work</dt>
      <dd><%= @student.work %></dd>
      <dt>Work title</dt>
      <dd><%= @student.work_title %></dd>
      <dt>Personal Projects</dt>
      <dd><%= @student.personal_project %><dd>
      <dt>Social Media</dt>
      <dd><a href="<%= @student.twitter %>" target=_blank>Twitter</a></dd>
      <dd><a href="<%= @student.linkedin %>" target=_blank>LinkedIn</a></dd>
      <dd><a href="<%= @student.github %>" target=_blank>Github</a></dd>
  </dl>
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-4">
        <a style="margin:0 5px;" class="btn btn-default" href="/">Back</a> 
        <a style="margin:0 5px;" class="btn btn-default" href="/students/<%= @student.id %>/edit">Edit</a>  
        <a style="margin:0 5px;" class="btn btn-danger" href="/students/<%= @student.id %>/destroy">Destroy</a>
      </div>
    </div>
    </div>